/*--------------------------------------------------------------
  ## footer
--------------------------------------------------------------*/
footer {
  margin-top: 160px;
  background-color: #111111;
  @media only screen and (max-width: 1199px) {
    padding-top: 130px;
  }
  @media only screen and (max-width: 991px) {
    text-align: center;
    margin-top: 80px;
  }
}

.up-footer {
  padding: 60px 0px;
  border-bottom: 1px solid #333;
  @media only screen and (max-width: 767px) {
    padding: 45px 0px;
  }
  .ge-box {
    p {
      font-size: 16px;
      color: $bg-white;
      @media only screen and (max-width: 767px) {
        font-size: 15px;
      }
    }
    a {
      text-decoration: underline;
      display: inline-block;
      color: $text-color;
      font-size: 21px;
      @media only screen and (max-width: 767px) {
        font-size: 19px;
      }
    }
  }
  .fo-biox {
    h5 {
      font-family: $font-texts;
      font-weight: 400;
      font-size: 16px;
      color: $bg-white;
      margin-bottom: 7px;
      @media only screen and (max-width: 767px) {
        font-size: 15px;
      }
    }
    p {
      font-size: 15px;
      line-height: 1.4;
    }
  }
}

/*--------------------------------------------------------------
   ## down-footer
 --------------------------------------------------------------*/

.down-footer {
  padding: 50px 0px;
  @media only screen and (max-width: 991px) {
    padding: 35px 0px;
  }
  h4 {
    font-family: $font-texts;
    font-weight: 400;
    font-size: 14px;
    color: $bg-white;
    @media only screen and (max-width: 767px) {
      font-size: 13px;
    }
  }
  .social {
    margin-left: -4px;
    margin-right: -4px;
    a {
      display: inline-block;
      text-decoration: underline;
      color: $text-color;
      font-size: 14px;
      line-height: 1.5;
      margin-left: 4px;
      margin-right: 4px;
      @media only screen and (max-width: 767px) {
        font-size: 13px;
      }
    }
  }
}
