@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


@font-face {
  font-family: "Betatron-Regular";
  src: url(../fonts/Betatron-Regular.otf);
}

$font-title:"Betatron-Regular";



$font-texts: 'Inter', sans-serif;


$bg-white:#FFFFFF;
$bg-black:#000000;
$bg-gray:#F3FBF9;
$primary-color: #0091EB;
$secondary-color:#a2344f;
$text-color: #888;
$title-color:#fff;
